<nav>
    <div class="site-title">
        <a href="/"> <h1>Trends in Application Development</h1> </a>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro dolores laboriosam modi vero mollitia
            sit praesentium dolore! Nostrum temporibus eaque ea pariatur soluta nam totam asperiores. At iste labore unde.</p>
    </div>

    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>
