<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs")%>
    <div class="about content">
        <h2>About the Website</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>
